<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
 <script type="text/javascript" src="/script.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	<style>
    body {
      font-family: Helvetica, sans-serif;
    }
    .status-message {
      background-color: #5ff;
      margin-bottom: 10px;
      text-align: center;
    }
    textarea {
      margin: 10px 0;
      resize: none;
    }
  </style>
	
	<title>IMDB
	</title>
</head>
<body>