<%include partials/header%>

<div class="row">

    <div class="col-lg-4">

        <div class="container">

            <form>
                <br>
                <label>Imdb Movie Url</label>
                <input type="text"
                    name="url"
                    id="123">

                <submit id ="btn" class="btn-success btn-lg">Submit</submit>
              
                <img id="divMsg" style="display:none; width: 7%" src="/loading.gif" alt="Please wait.." />
            </form>
        </div>
    </div>

    <div class="col-lg-8">

        <p id="info">
        </p>
    </div>
</div>
