<%include partials/header%>

        <div class="container">

            <form >
                <br>
                <div class="form-group">
                <label class="form-control">Imdb Movie Url</label>
                <input class="form-control" type="text" name="url" id="123">
                </div>
                <submit id ="btn" class="btn-success btn-lg">Submit</submit>
              
                <img id="divMsg" style="display:none; width: 7%" src="/loading.gif" alt="Please wait.." />
            </form>
        </div>
        <div class="container">
            
        <p id="info">
        </p>
        </div>
